<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button class="signUpBtn">
      <a href="/users/sign-up">Sign up</a>
    </button>
    <button class="loginBtn">
      <a href="/users/login">Login</a>
    </button>
  </body>
</html>
