body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

textarea {
  resize: none;
  margin: 0;
}

.messageFormContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & input {
  }

  & input:focus,
  textarea:focus {
    border: 1.5px solid black;
  }
}

.bodyContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContainer {
  padding: 16px 36px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  @media screen and (max-width: 844px) {
    padding: 10px 22px;
  }
}

.loginBackgroundContainer {
  background-color: rgb(212, 212, 212);
  padding: 40px;
  border-radius: 12px 12px;
  border: 1px solid grey;

  & h1 {
    text-align: center;
  }
}

.loginMainContainer {
  padding: 16px 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  margin: 40px 0px;
  margin-bottom: 60px;

  & .labelAndInput input {
    width: 100%;
  }
}

a {
  color: #00b7ff;
  text-decoration: none;
}

.labelAndInput {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.labelAndInput:last-of-type {
  margin-bottom: 10px;
}

.signUpFormContainer,
.loginFormContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 12px;
}

.loginFormContainer input {
  background-color: white;
  padding: 6px;
}

.signUpFormContainer input {
  padding: 6px;
  width: 50%;
  border: 1px solid rgb(76, 76, 76);
}

.signUpFormContainer input:focus {
  border: 1.5px solid black;
}

.signUpFormContainer label::after {
  content: " (Required)";
  font-style: italic;
}

span.errorMsg {
  color: rgb(121, 31, 31);
}

.signUpBtn,
.loginBtn {
  padding: 10px;
  color: rgb(78, 78, 78);
  border: 1px solid rgb(78, 78, 78);
  box-shadow: 2px 2px 2px rgba(155, 155, 155, 0.229);
  border-radius: 10px 10px;
  transition: color border 0.1s linear;

  & a {
    color: inherit;
  }
}

.signUpBtn {
  width: 100px;
  padding: 6px;
  font-size: 1rem;
  align-self: center;
}

.signUpBtn:hover,
.loginBtn:hover {
  color: black;
  border: 1px solid black;
}

header {
}

.headerContainer {
  display: flex;
  height: 100px;
  color: white;
  background-color: rgb(69, 69, 69);
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  padding: 0px 22px;

  & h2 {
    font-size: 1.6rem;
    font-weight: 800;
  }
}

.welcomeSection {
  display: flex;
  flex-direction: column;
  align-self: center;

  & p:not(:first-of-type),
  p:nth-child(2) {
    font-size: 1.3rem;
  }

  & h2 {
    text-align: center;
    font-size: 1.5rem;
  }

  > * {
    margin: 10px;
  }
}

.navLinksContainer {
  display: flex;
  gap: 10px;
  color: black;
  font-size: 1.1rem;
  list-style: none;

  & button {
    padding: 14px;
    color: rgb(225, 225, 225);
    border: 1px solid rgb(78, 78, 78);
    border-radius: 10px 10px;
    font-size: 1rem;
    border: 1px solid rgb(134, 134, 134);
    transition: color border 0.1s linear;
    text-transform: capitalize;
    white-space: nowrap;
  }

  & button:hover {
    color: white;
    border: 1px solid white;
  }

  & a {
    text-decoration: none;
    color: black;
  }
}

ul.postsContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1;
  padding-left: 0px;
  align-items: center;
}

.singlePost {
  border: 1px solid darkgray;
  padding: 14px 22px;
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-radius: 12px 12px;
  box-shadow: 5px 5px 9px -2px rgba(79, 79, 79, 0.27);
  max-width: 1000px;
  min-width: 500px;

  @media screen and (max-width: 844px) {
    font-size: 1.5rem;
    max-width: 325px;
    min-width: unset;
  }
}

.dateAdded {
  align-self: flex-end;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.userMessage {
  text-overflow: ellipsis;
  margin: 16px 0px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.4rem;

  @media screen and (max-width: 844px) {
    font-size: 1.2rem;
  }
}

.dateAndAuthorContainer {
  display: flex;
  justify-content: space-between;
  gap: 14px;
  padding: 0px 14px;
}

.userMessageBubble {
  border-radius: 32px 32px;
  background-color: lightgrey;
  padding: 4px;
  margin-bottom: 6px;
  padding-left: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.firstLastName {
  display: flex;
  gap: 6px;

  & p:last-of-type:after:not(:hover) {
    content: ".";
    font-weight: bold;
  }
}

.blurredFirstName,
.blurredLastName,
.dateAddedBlurred {
  color: transparent;
  text-shadow: 0 0 8px #000;
  position: relative;
}

.dateAddedBlurred:hover:after {
  content: "Must be a member";
  font-size: 1.2rem;
  position: absolute;
  color: white;
  background-color: grey;
  padding: 6px;
  border-radius: 8px;
  width: 180px;
  right: -20px;
  top: -35px;
  text-align: center;
}

.firstLastNameBlurred {
  display: flex;
  gap: 6px;
  position: relative;

  & p:last-of-type:after:not(:hover) {
    content: ".";
    font-weight: bold;
  }
}

.firstLastNameBlurred:hover:after {
  content: "Must be a member";
  font-size: 1.2rem;
  position: absolute;
  color: white;
  background-color: grey;
  padding: 6px;
  border-radius: 8px;
  width: 170px;
  right: -35px;
  top: -10px;
  text-align: center;
}
